.game {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* マップ全体 */
.map {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* 背景画像 */
.map-bg {
  width: 100%;
  height: 100%;
  background-size: 1px 1px;
  object-fit: cover;
  image-rendering: pixelated;
}

/* プレイヤー */
.player {
  position: absolute;
  width: 93px;
  height: 93px;
  image-rendering: pixelated;
}


.building1 {
  position: absolute;
  width: 350px;
  height: 350px;
  image-rendering: pixelated;
}

.building2 {
  position: absolute;
  width: 500px;
  height: 500px;
  image-rendering: pixelated;
}

.building3 {
  position: absolute;
  width: 100px;
  height: 100px;
  image-rendering: pixelated;
}

.monster1 {
  position: absolute;
  width: 150px;
  height: 150px;
  image-rendering: pixelated;
}
.monster2 {
  position: absolute;
  width: 130px;
  height: 130px;
  image-rendering: pixelated;
}